
header{
    position: fixed;
    width: 200%;
    Height: 50px;
    top: 0;
    left: 0;
    /* new additions to review */
    background-color: #c2dceb;
    justify-content: space-between;
}



.logo{
    order: 1;
    margin-right: auto;
}
.nav{
    Position: sticky;
    top: 0;
    overflow: hidden;
}
.nav ul{
    list-style-type: none;
    background-color: #c2dceb;
    padding: 0%;
    margin: 0%;
    /* below is the code to make the navbar horizontal */
    overflow: hidden;
    /* order: 2; */
    text-align: center;
}
.nav a{
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.nav a:hover{
    background-color: #eeeeee99;
    color: black;
}
    /* below is the code to make the navbar horizontal */
.nav li{
    float: left;
}


.nav button{
    padding: 9px;
    background-color: #ff4500;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* attempt at placing button on the right */
}
.cta{
    order: 3;
    cursor:pointer;
}


.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c2dceb);
    color: #333333;
}

.container{
    margin: 150px;
    /* margin-top: 100px; */
    position: center;
}

.form-box{
    width: 100%;
    max-height: 450px;
    padding: 30px;
    background: #d28e00;
    border-radius: 15;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active{
    display: block;
}
input, select{
    width: 100%;
    padding: 12px;
    background: #c2dceb;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #d28e00;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    color: #eeeeee;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover{
    background: #d2b000;
    /* try and do something with the opacity here */
}

p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    color: #c2dceb;
}

p a:hover{
    text-decoration: underline;
}