head{
    text-align: Center;
    position: sticky;
    top: 0;
}

header{
    position: fixed;
    width: 200%;
    Height: 50px;
    top: 0;
    left: 0;
    /* new additions to review */
    background-color: #c2dceb;
    justify-content: space-between;
}



.logo{
    order: 1;
    margin-right: auto;
}
.nav{
    Position: sticky;
    top: 0;
    overflow: hidden;
}
.nav ul{
    list-style-type: none;
    background-color: #c2dceb;
    padding: 0%;
    margin: 0%;
    /* below is the code to make the navbar horizontal */
    overflow: hidden;
    order: 2;
}
.nav a{
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.nav a:hover{
    background-color: #eeeeee99;
    color: black;
}
    /* below is the code to make the navbar horizontal */
.nav li{
    float: left;
}

.nav__action li{
    float: right;
}

button{
    padding: 9px;
    background-color: #ff4500;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.cta{
    order: 3;
    cursor: pointer;
    margin-left: auto;
}


content{
    text-align: center;
    position: relative;
    top: 50px;
    color: #444;
    width: max-content;
}

body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}

h1{
    font-size: 36px;
    color: #002878;
    text-align: left;
}

h2{
    font-size: 38px;
    color: #d28e00;
    text-align: left;
}

h3 {
    font-size: 24px;
    color: #d2b000;
    text-align: left;
}

h4 {
    font-size: 20px;
    color: #d2b000;
    text-align: left;
}

p{
    font-size: 18px;
    color: #333333;
    text-align: justify;
}

.sticky_bottom{
    position: sticky;
    bottom: 0;
}

.sticky_top{
    position: sticky;
    top: 0;
}

.fixed{
    position: fixed;
    top: 0;
}

.collapsible__button {
    display: block;
    background-color: #002878;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    transition: 0.2s;
    font-size: 15px;
}

/* switch between 0 and 150 overflow when clicked */
.collapsible__button--active + .collapsible__content {
    display: block;
}

/* botton plus sign image */
.collapsible__button::after {
    content: '\002b';
    float: right;
    transform: scale(1.5);
}
/* styling for the after effects of button image */
.collapsible__button--active{background-color: #5b5c5e;}
.collapsible__button--active::after{content: "\25b4";}

/* button hover and active shade change */
/* .active, .collapsible__button:hover {
    background-color: #5b5c5e;
} */

.collapsible__content {
    /* THIS IS FOR JSoverflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out; */
    padding: 0 15px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    /* beow is content that helps with the appear out of thin air effect */
    display: none;
    overflow: auto;
}


