head{
    text-align: Center;
    position: sticky;
    top: 0;
}

header{
    position: fixed;
    width: 200%;
    Height: 50px;
    top: 0;
    left: 0;
    color: #d28e00;
}

content{
    text-align: center;
    position: relative;
    top: 50px;
    color: #444;
    width: max-content;
}

h1{
    font-size: 36px;
    color: #002878;
    text-align: left;
}

h2{
    font-size: 38px;
    color: #d28e00;
    text-align: left;
}

h3 {
    font-size: 24px;
    color: #d2b000;
    text-align: left;
}

p{
    font-size: 18px;
    color: #333333;
    text-align: justify;
}

.sticky_bottom{
    position: sticky;
    bottom: 0;
}

.sticky_top{
    position: sticky;
    top: 0;
}

.fixed{
    position: fixed;
    top: 0;
}

.collapsable {
    background-color: #002878;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsable:hover {
    background-color: #d28e00;
}
