body {
    font-family: sans-serif;
    font-size: 16px;
    color: #265b7c;
    line-height: 1.5;
}
header{
    Text-align: Left;
    position: fixed;
    top: 0;
    background-color: #376bd2;
    width: 100%;
}

h1{
    font-size: 36px;
    color: #040404;
    text-align: center;
}

h2{
    font-size: 38px;
    color: #f17341;
    text-align: right;
}

h3 {
    font-size: 24px;
    color: #f17341;
    text-align: right;
}


p{
    font-size: 18px;
    color: #000000;
    text-align: justify;
}

.sticky{
    position: sticky;
    top: 0;
}

.fixed{
    position: fixed;
    top: 0;
}